.badge {
  color: var(--color-dim);
  letter-spacing: normal;
  display: inline-block;
  border: 1px solid var(--color-line);
  border-radius: 4px;

  padding: .1em .4em;
  text-decoration: none;
}

.badge:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: var(--color-background);
}